body {
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
}
nav {
  margin: 0;
  overflow: visible;
  background-color: white;
  margin-bottom: 30px;
  /*align-items: center;*/
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  color: black;
  display: block;
  line-height: 3em;
  padding: 1em 3em;
  text-decoration: none;
}
nav ul li:first-child {
  margin-right: auto;
}

.read-more {
  font-weight: 900;
  text-decoration:none;;
}

.project-card {
  position: relative;
  vertical-align: top;
  text-align: left;
  /*width: 80%;*/
  height: 400px;
  margin: 10px 0;
  border-radius: 6px;
  color: black;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .07);
  display: block;
  overflow: hidden;


}

.project-card:hover {
  -webkit-animation: pulse 1.6s;
    animation: pulse 1.6s;

}





.card-top {
  height: 240px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: blue;
}



.card-title {
  font-size: 24px;
  padding: 37px 31px 25px 30px;
}


h1 {
  text-align: center;
  font-weight: 200;
}


a {
  color: black;
}

.intro {
  text-align: right;
  line-height: 2.5rem;
}

.welcome {
  margin-bottom: 100px;
  font-size: 3em;
}

.offset-sm-6 {
  margin-left: 0px;
}


.b-box, .lyft, .bmd {
  margin-top: -120px;
}


.container {
  max-width: 95%;
}

.lendmate > .card-top {
  background-color: #D0F5F3;
}

.bmd > .card-top {
  background-color: #F4AC4D;
}

.b-box > .card-top {
  background-color: #D9B0FC;
}

.lyft > .card-top {
  background-color: #D3FCB0;
}

.card-bottom > p {
  color: #9B9B9B;
  padding-left: 30px;
  margin-top: -15px;
}

@media only screen and (max-width: 7680px) {
    .col {
        padding-bottom:
    }
}
