/*Navbar*/

body {
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
}
nav {
  margin: 0;
  overflow: visible;
  background-color: white;
  margin-bottom: 30px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  font-weight: 100;
  color: #353839;
  display: block;
  line-height: 3em;
  padding: 1em 3em;
  text-decoration: none;
}
nav ul li:first-child {
  margin-right: auto;
}

nav ul li a:hover {
  font-weight: 700;
  color: black;
}

nav ul li a:active {
  font-weight: 700;
  color: black;
}

h1 {
  text-align: center;
  font-weight: 200;
}

h2 {
  margin-top: 4vh;
}

a {
  color: black;
}

a:hover{
 text-decoration: none;
}
.read-more {
  border-bottom: 1px solid black;
}

/*footer*/
footer {
  margin-top: 150px;
}

.text-black {
  margin-top: .5rem;
}
.col > ul {
  display: inline;
}

.fa {
    padding: 10px;
    /*font-size: 30px;*/
    width: 50px;
    text-align: center;

}

.fa:hover {
  cursor: grab;
  color: #353839;
}

/*grid fine-tuning*/

.container {
  max-width: 95%;
}
.offset-sm-6 {
  margin-left: 0px;
}

/*Project Preview*/


.project-card {
  position: relative;
  vertical-align: top;
  text-align: left;
  height: 400px;
  margin: 10px 0;
  border-radius: 6px;
  color: black;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .07);
  display: block;
  overflow: hidden;
  -webkit-transition: top .1s ease-in;
  -moz-transition: top .1s ease-in;
  transition: top .1s ease-in;
  top: 0;

}

.project-card:hover {
    top: -10px;
    cursor: grab;
  }





.card-top {
  height: 240px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: blue;
}



.card-title {
  font-size: 24px;
  padding: 37px 31px 25px 30px;
}



.intro {
  text-align: right;
  line-height: 2.5rem;
}

.title {
  margin-bottom: 100px;
  font-size: 3em;
}

.b-box, .lyft, .bmd {
  margin-top: -120px;
}




.lendmate > .card-top {
  background: #D0F5F3 url(../assets/lendmate/lm-ios-mock.png) center center no-repeat;
  background-size: 255px;
}

.bmd > .card-top {
  background: #F4AC4D url(../assets/bmd/bmd-mock.png) top no-repeat;
  background-size: 370px, cover;
}

.b-box > .card-top {
  background: #D3FCB0 url(../assets/keeper/box-mock.png) center top no-repeat;
  background-size: 359px;
}

.lyft > .card-top {
  background: #FCB3B0 url(../assets/lyft/lyft-logo.png) center no-repeat;
  background-size: 200px;
}

.helpshift > .card-top {
  background: #D9B0FC url(../assets/helpshift/push.png) center no-repeat;
  background-size: 200px;
}

.card-bottom > p {
  color: #9B9B9B;
  padding-left: 30px;
  margin-top: -15px;
}


.card-image {
  margin: 40px;

}

/*home CTA*/
.cta-container {
  margin-top: 25%;
}

.button-class {
  padding: 20px;
  text-align: center;
}

.button-class > .btn {
  background-color: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.button-class > .btn:hover {
  background-color: #353839;
}

.next {
  float: right;
  margin-top: 3vh;
}
.next:hover {
font-weight: 700;

}


/*About Me*/

.about-photo {
  max-height: 100%;
  max-width: 100%;
}

.about-icon {
  vertical-align: top;
  display: inline-block;

}

.icon-row {
text-align: justify;

}

.icon-row::after {
  content: "";
	width: 100%;
	display: inline-block;
}
.icon-group {
  vertical-align: baseline;
  display: inline-block;
  text-align: center;
}

.caption {
  display: block;
  width: 95%;
  margin-top: 30px;
}
.specialty {
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-text {
  line-height: 50pt;
  margin-top: 120px;
  margin-bottom: 120px;
}

/*contact form*/
.form-container {
  margin-top: 120px;
}

.resume-under {
  border-bottom: solid 3px #FCB3B0;
}
.resume-under:hover {
    color: #353839
  }

input[type="text"],
input[type="email"]{
  padding: 10px;
  border: solid .1px black;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Work Sans', sans-serif;


}


input[type="submit"] {
    border: none;
    color: white;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    background-color: black;
    font-size: 1.25rem;
    border-radius: .3rem;
    margin-left: 33%;
    font-family: 'Work Sans', sans-serif;
}
input[type="text"]::placeholder {
    white-space: normal;
    text-align: center;
    font-style: italic;

}

.comment-box {
height: 28vh;
}




/*Case Study Page*/

.sidebar {
  transition: margin-top 0.4s ease-in-out;
  -webkit-transition: margin-top 0.4s ease-in-out;
  -moz-transition: margin-top 0.4s ease-in-out;
  -o-transition: margin-top 0.4s ease-in-out;
  border-left: 1px solid black;
}


.external-link {
  border-bottom: solid 3px #FCB3B0;
}
.external-link:hover {
  font-weight: 700;
  color: black;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}


.mainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    font-weight: 700;

}




.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
  margin-left: 30px;
}



.submenu a:hover {

  font-weight: 700;
}


.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}


.landing {
  margin-top: 12px;
}

.case-list {
  list-style-type: circle;
  margin-left: 4vh;
}

.quote-one {
  padding: 3vh;
  margin-left: 4vh;
  font-style: italic;
}
.quote-two {

  padding: 3vh;
  margin-right: 4vh;
  font-style: italic;
}

.large-image {
  width: 100%;
}



@media only screen and (max-width: 768px) {

    .button-class > button {
      margin: 10px;
    }

     nav ul li a {
       margin-left: -4vh;

     }

     .icon-group {
       display: block;
       margin-top: 15px;
     }

     .project-card {
       margin-bottom: 23vh;
     }

     .card-bottom > p {
       font-size: 2vh;
     }

     .cta-container a.btn:first-child {
       margin-bottom: 15px;
}

      .sidebar {
        display: none;
      }

      .mobile-img {
        width: 100%;
      }
      footer {
        background-color: #f9f9f9;
        margin: 3vh -8vh 0 -6vh;

      }

      .cta-container {
        margin-top: 0;
      }

      .bmd > .card-top {
        background: #F4AC4D url(../assets/bmd/bmd-mock.png) center center no-repeat;
        background-size: 266px, cover;
      }

      input[type="submit"] {
        margin-left: 19%;
      }

      .comment-box {
        font-size: smaller;
      }

      .build {
        display: none;
      }

      .text-black {
        font-size: 14px;
        margin: 2vh;
      }

      .form-text {
        margin-bottom: 0;
      }

}
