body {
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
}
nav {
  margin: 0;
  overflow: visible;
  background-color: white;
  margin-bottom: 30px;
  /*align-items: center;*/
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  font-weight: 100;
  color: #353839;
  display: block;
  line-height: 3em;
  padding: 1em 3em;
  text-decoration: none;
}
nav ul li:first-child {
  margin-right: auto;
}

nav ul li a:hover {
  color: black;
  font-weight: bolder;

}

.read-more {
  border-bottom: 1px solid black;
}
footer {
  margin-top: 150px;
}

.text-black {
  margin-top: .5rem;
}
.col > ul {
  display: inline;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;

}

.fa:hover {
  cursor: grab;
  color: navy;
}

.project-card {
  position: relative;
  vertical-align: top;
  text-align: left;
  height: 400px;
  margin: 10px 0;
  border-radius: 6px;
  color: black;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .07);
  display: block;
  overflow: hidden;
  -webkit-transition: top 1s ease-in;
  -moz-transition: top 1s ease-in;
  transition: top .1s ease-in;

}

.project-card:hover {
    top: -10px;
    cursor: grab;
  }

  a:hover{
   text-decoration: none;
 }



.card-top {
  height: 240px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: blue;
}



.card-title {
  font-size: 24px;
  padding: 37px 31px 25px 30px;
}


h1 {
  text-align: center;
  font-weight: 200;
}


a {
  color: black;
}

.intro {
  text-align: right;
  line-height: 2.5rem;
}

.title {
  margin-bottom: 100px;
  font-size: 3em;
}

.offset-sm-6 {
  margin-left: 0px;
}


.b-box, .lyft, .bmd {
  margin-top: -120px;
}


.container {
  max-width: 95%;
}

.lendmate > .card-top {
  background: #D0F5F3 url(../assets/lendmate/lm-ios-mock.png) center center no-repeat;
  background-size: 255px;
}

.bmd > .card-top {
  background: #F4AC4D url(../assets/bmd/bmd-mock.png) top no-repeat;
  background-size: 370px, cover;
}

.b-box > .card-top {
  background: #D3FCB0 url(../assets/blocbox/box-mock.png) center top no-repeat;
  background-size: 359px;
}

.lyft > .card-top {
  background: #D9B0FC url(../assets/lyft/lyft-logo.png) center no-repeat;
  background-size: 200px;
}

.card-bottom > p {
  color: #9B9B9B;
  padding-left: 30px;
  margin-top: -15px;
}


.card-image {
  margin: 40px;

}


.cta-container {
  margin-top: 25%;
}

.button-class {
  padding: 20px;
  text-align: center;
}

.button-class > .btn {
  background-color: black;
  color: white;
  font-family: 'Work Sans', sans-serif;


}


/*About Me*/

.about-photo {
  max-height: 100%;
  max-width: 100%;
}

.about-icon {
  padding: 10px;
}
@media only screen and (max-width: 768px) {
    .container {
        padding-bottom: 132px;
    }

    .button-class > button {
      margin: 10px;


    }



}
